doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Creative - Start Bootstrap Theme
    // Angular-material
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css')
    //materialize
    
    // Bootstrap Core CSS
    link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
    // Custom Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800 | Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css', type='text/css')
    // Plugin CSS
    link(rel='stylesheet', href='css/animate.min.css', type='text/css')
    // Custom CSS
    link(rel='stylesheet', href='slick/slick.css', type='text/css')
    link(rel='stylesheet', href='slick/slick-theme.css', type='text/css')
    link(rel='stylesheet', href='css/creative.css', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body#page-top
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#')
            img(src='img/logo.gif', alt='')
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll(href='#about') Giới thiệu
            li
              a.page-scroll(href='#services') Dịch vụ
            li
              a.page-scroll(href='#portfolio') Người giúp việc
            li
              a.page-scroll(href='#', data-toggle='modal', data-target='#banggia') Bảng giá
            li
              a.page-scroll(href='#', data-toggle='modal', data-target='#hoidap') Hỏi đáp
            li
              a.page-scroll(href='#', data-toggle='modal', data-target='#chinhsach') Chính sách
            li
              a.page-scroll(href='#contact') Liên hệ
    header
      .header-content
        .header-content-inner
          h1.smallerh1 GIÚP VIỆC CHUYÊN NGHIỆP
          h2 Tìm người giúp việc trong TP.HCM
          div
            form.form-inline(action='/search')
              .form-group(style='margin-top:7px')
                input.form-control.sb(type='text', name='thanhpho', placeholder='Chọn Quận')
                input.form-control.sb(type='text', name='ngay', placeholder='Chọn ngày')
                input.form-control.sb(type='text', name='tgbd', placeholder='Thời gian bắt đầu')
                input.form-control.sb(type='text', name='tgkt', placeholder='Thời gian kết thúc')
                input.btn.btn-danger(type='submit', value='Tìm kiếm')
    section#about.bg-primary
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading Tất cả vì sự hài lòng của quý khách hàng
            hr
            p.text-faded
              | Chúng tôi đảm bảo cung cấp đội ngũ nhân viên giúp việc chuyên nghiệp, có kỹ năng làm việc và phẩm chất đạo đức tốt, đủ sức khỏe và lý lịch rõ ràng. Đặc biệt. đội ngũ nhân viên được chúng tôi chọn lựa, huấn luyện và kiểm tra trước khi phục vụ quý khách hàng. Bên cạnh đó, những đánh giá, góp ý của quý khách hàng sẽ là cơ sở và tiêu chí để chất lượng phục vụ của đội ngũ nhân viên chúng tôi ngày một được nâng cao nhằm thỏa mãn mọi yêu cầu của quý khách hàng.
            a.btn.btn-danger.btn-xl(href='#') Tìm người giúp việc bằng Smartphone!
    section#services
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading Chúng tôi hân hạnh gửi đến quý khách hàng các dịch vụ sau
            hr.primary
      .container
        .row
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-child.wow.bounceIn.text-primary
              h3 Chăm sóc bé
              p.text-muted Cho bé ăn, uống sữa, ru ngũ, tắm bé, thay tã lót, quần áo, chơi với trẻ, dẫn bé đi dạo ...
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-wheelchair.wow.bounceIn.text-primary(data-wow-delay='.1s')
              h3 Chăm sóc người già
              p.text-muted Tắm rửa, giặt quần áo, trò chuyện, dẫn đi dạo, nấu thức ăn ... cho người già.
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-female.wow.bounceIn.text-primary(data-wow-delay='.2s')
              h3 Chăm sóc sản phụ
              p.text-muted Đi chợ, nấu ăn, tắm rửa và vệ sinh cho sản phụ, xông hơ, giặt quần áo ... cho sản phụ
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-stethoscope.wow.bounceIn.text-primary(data-wow-delay='.3s')
              h3 Nuôi bệnh
              p.text-muted Theo dõi mạch, nhiệt, hô hấp, giấc ngủ, cho ăn, cho uống nước, sửa, thuốc, xoa bóp ... cho người bệnh.
        .row
          .col-lg-4.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-trash-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
              h3 Dọn dẹp vệ sinh
              p.text-muted Quét dọn nhà cửa, sân vườn, vệ sinh toilet, cầu thang, tưới cây, giặt phơi quần áo, nấu ăn, rửa chén bát, pha trà ...
          .col-lg-4.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-home.wow.bounceIn.text-primary(data-wow-delay='.3s')
              h3 Đưa đón bé đi học
              p.text-muted Đưa bé đến trường, trao đổi với giao viên về tình hình học tập của bé, đưa đón bé về nhà, truyền tải thông điệp của giáo viên đến phụ huynh ...
          .col-lg-4.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-spoon.wow.bounceIn.text-primary(data-wow-delay='.3s')
              h3 Nấu ăn
              p.text-muted Đi chợ, chọn mua thức ăn, chế biến các món ăn theo yêu cầu, bày biện món, dọn dẹp, rửa chén, lau bàn, bếp ...

    section#portfolio.no-padding
      .container-fluid
        .row.no-gutter
          .div.slicktest
            .col-xs-6.col-sm-3
              .thumbnail.center-block
                a.portfolio-box(href='#')
                  img.img-responsive(src='img/placeholder_user.png', alt='')
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Category
                      .project-name
                        | Project Name
                .caption
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-user.xanhnhat.marbtm.padright
                      | Nguyễn Minh Tuấn
                    .right.padrightngv
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                      | 2 năm
                    .right.padrightngv
                      h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                      | 40 tuổi
            .col-xs-6.col-sm-3
              .thumbnail.center-block
                a.portfolio-box(href='#')
                  img.img-responsive(src='img/placeholder_user.png', alt='')
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Category
                      .project-name
                        | Project Name
                .caption
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-user.xanhnhat.marbtm.padright
                      | Nguyễn Minh Tuấn
                    .right.padrightngv
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                      | 2 năm
                    .right.padrightngv
                      h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                      | 40 tuổi
            .col-xs-6.col-sm-3
              .thumbnail.center-block
                a.portfolio-box(href='#')
                  img.img-responsive(src='img/placeholder_user.png', alt='')
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Category
                      .project-name
                        | Project Name
                .caption
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-user.xanhnhat.marbtm.padright
                      | Nguyễn Minh Tuấn
                    .right.padrightngv
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                      | 2 năm
                    .right.padrightngv
                      h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                      | 40 tuổi
            .col-xs-6.col-sm-3
              .thumbnail.center-block
                a.portfolio-box(href='#')
                  img.img-responsive(src='img/placeholder_user.png', alt='')
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Category
                      .project-name
                        | Project Name
                .caption
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-user.xanhnhat.marbtm.padright
                      | Nguyễn Minh Tuấn
                    .right.padrightngv
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                      | 2 năm
                    .right.padrightngv
                      h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                      | 40 tuổi
            .col-xs-6.col-sm-3
              .thumbnail.center-block
                a.portfolio-box(href='#')
                  img.img-responsive(src='img/placeholder_user.png', alt='')
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Category
                      .project-name
                        | Project Name
                .caption
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-user.xanhnhat.marbtm.padright
                      | Nguyễn Minh Tuấn
                    .right.padrightngv
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                      | 2 năm
                    .right.padrightngv
                      h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                      | 40 tuổi
            .col-xs-6.col-sm-3
                .thumbnail.center-block
                  a.portfolio-box(href='#')
                    img.img-responsive(src='img/placeholder_user.png', alt='')
                    .portfolio-box-caption
                      .portfolio-box-caption-content
                        .project-category.text-faded
                          | Category
                        .project-name
                          | Project Name
                  .caption
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-user.xanhnhat.marbtm.padright
                        | Nguyễn Minh Tuấn
                      .right.padrightngv
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                        | 2 năm
                      .right.padrightngv
                        h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                        | 40 tuổi
            .col-xs-6.col-sm-3
                .thumbnail.center-block
                  a.portfolio-box(href='#')
                    img.img-responsive(src='img/placeholder_user.png', alt='')
                    .portfolio-box-caption
                      .portfolio-box-caption-content
                        .project-category.text-faded
                          | Category
                        .project-name
                          | Project Name
                  .caption
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-user.xanhnhat.marbtm.padright
                        | Nguyễn Minh Tuấn
                      .right.padrightngv
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                        | 2 năm
                      .right.padrightngv
                        h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                        | 40 tuổi
            .col-xs-6.col-sm-3
                .thumbnail.center-block
                  a.portfolio-box(href='#')
                    img.img-responsive(src='img/placeholder_user.png', alt='')
                    .portfolio-box-caption
                      .portfolio-box-caption-content
                        .project-category.text-faded
                          | Category
                        .project-name
                          | Project Name
                  .caption
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-user.xanhnhat.marbtm.padright
                        | Nguyễn Minh Tuấn
                      .right.padrightngv
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                        | 2 năm
                      .right.padrightngv
                        h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                        | 40 tuổi
            .col-xs-6.col-sm-3
                .thumbnail.center-block
                  a.portfolio-box(href='#')
                    img.img-responsive(src='img/placeholder_user.png', alt='')
                    .portfolio-box-caption
                      .portfolio-box-caption-content
                        .project-category.text-faded
                          | Category
                        .project-name
                          | Project Name
                  .caption
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-user.xanhnhat.marbtm.padright
                        | Nguyễn Minh Tuấn
                      .right.padrightngv
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                        | 2 năm
                      .right.padrightngv
                        h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                        | 40 tuổi
            .col-xs-6.col-sm-3
                .thumbnail.center-block
                  a.portfolio-box(href='#')
                    img.img-responsive(src='img/placeholder_user.png', alt='')
                    .portfolio-box-caption
                      .portfolio-box-caption-content
                        .project-category.text-faded
                          | Category
                        .project-name
                          | Project Name
                  .caption
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-user.xanhnhat.marbtm.padright
                        | Nguyễn Minh Tuấn
                      .right.padrightngv
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                        | 2 năm
                      .right.padrightngv
                        h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                        | 40 tuổi
            .col-xs-6.col-sm-3
                .thumbnail.center-block
                  a.portfolio-box(href='#')
                    img.img-responsive(src='img/placeholder_user.png', alt='')
                    .portfolio-box-caption
                      .portfolio-box-caption-content
                        .project-category.text-faded
                          | Category
                        .project-name
                          | Project Name
                  .caption
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-user.xanhnhat.marbtm.padright
                        | Nguyễn Minh Tuấn
                      .right.padrightngv
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                        | 2 năm
                      .right.padrightngv
                        h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                        | 40 tuổi
            .col-xs-6.col-sm-3
              .thumbnail.center-block
                a.portfolio-box(href='#')
                  img.img-responsive(src='img/placeholder_user.png', alt='')
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Category
                      .project-name
                        | Project Name
                .caption
                  .row
                      .left.padleftngv
                        h5.i.fa.fa-user.xanhnhat.marbtm.padright
                        | Nguyễn Minh Tuấn
                      .right.padrightngv
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                        | 2 năm
                      .right.padrightngv
                        h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                        | 40 tuổi
            .col-xs-6.col-sm-3
              .thumbnail.center-block
                a.portfolio-box(href='#')
                  img.img-responsive(src='img/placeholder_user.png', alt='')
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Category
                      .project-name
                        | Project Name
                .caption
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-user.xanhnhat.marbtm.padright
                      | Nguyễn Minh Tuấn
                    .right.padrightngv
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                      | 2 năm
                    .right.padrightngv
                      h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                      | 40 tuổi
            .col-xs-6.col-sm-3
              .thumbnail.center-block
                a.portfolio-box(href='#')
                  img.img-responsive(src='img/placeholder_user.png', alt='')
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Category
                      .project-name
                        | Project Name
                .caption
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-user.xanhnhat.marbtm.padright
                      | Nguyễn Minh Tuấn
                    .right.padrightngv
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                      | 2 năm
                    .right.padrightngv
                      h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                      | 40 tuổi
            .col-xs-6.col-sm-3
              .thumbnail.center-block
                a.portfolio-box(href='#')
                  img.img-responsive(src='img/placeholder_user.png', alt='')
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Category
                      .project-name
                        | Project Name
                .caption
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-user.xanhnhat.marbtm.padright
                      | Nguyễn Minh Tuấn
                    .right.padrightngv
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                      | 2 năm
                    .right.padrightngv
                      h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                      | 40 tuổi
            .col-xs-6.col-sm-3
              .thumbnail.center-block
                a.portfolio-box(href='#')
                  img.img-responsive(src='img/placeholder_user.png', alt='')
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Category
                      .project-name
                        | Project Name
                .caption
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-user.xanhnhat.marbtm.padright
                      | Nguyễn Minh Tuấn
                    .right.padrightngv
                  .row
                    .left.padleftngv
                      h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                      | 2 năm
                    .right.padrightngv
                      h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                      | 40 tuổi
            .col-xs-6.col-sm-3
                .thumbnail.center-block
                  a.portfolio-box(href='#')
                    img.img-responsive(src='img/placeholder_user.png', alt='')
                    .portfolio-box-caption
                      .portfolio-box-caption-content
                        .project-category.text-faded
                          | Category
                        .project-name
                          | Project Name
                  .caption
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-user.xanhnhat.marbtm.padright
                        | Nguyễn Minh Tuấn
                      .right.padrightngv
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                        | 2 năm
                      .right.padrightngv
                        h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                        | 40 tuổi
            .col-xs-6.col-sm-3
                .thumbnail.center-block
                  a.portfolio-box(href='#')
                    img.img-responsive(src='img/placeholder_user.png', alt='')
                    .portfolio-box-caption
                      .portfolio-box-caption-content
                        .project-category.text-faded
                          | Category
                        .project-name
                          | Project Name
                  .caption
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-user.xanhnhat.marbtm.padright
                        | Nguyễn Minh Tuấn
                      .right.padrightngv
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                        | 2 năm
                      .right.padrightngv
                        h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                        | 40 tuổi
            .col-xs-6.col-sm-3
                .thumbnail.center-block
                  a.portfolio-box(href='#')
                    img.img-responsive(src='img/placeholder_user.png', alt='')
                    .portfolio-box-caption
                      .portfolio-box-caption-content
                        .project-category.text-faded
                          | Category
                        .project-name
                          | Project Name
                  .caption
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-user.xanhnhat.marbtm.padright
                        | Nguyễn Minh Tuấn
                      .right.padrightngv
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                        | 2 năm
                      .right.padrightngv
                        h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                        | 40 tuổi
            .col-xs-6.col-sm-3
                .thumbnail.center-block
                  a.portfolio-box(href='#')
                    img.img-responsive(src='img/placeholder_user.png', alt='')
                    .portfolio-box-caption
                      .portfolio-box-caption-content
                        .project-category.text-faded
                          | Category
                        .project-name
                          | Project Name
                  .caption
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-user.xanhnhat.marbtm.padright
                        | Nguyễn Minh Tuấn
                      .right.padrightngv
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                        | 2 năm
                      .right.padrightngv
                        h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                        | 40 tuổi
            .col-xs-6.col-sm-3
                .thumbnail.center-block
                  a.portfolio-box(href='#')
                    img.img-responsive(src='img/placeholder_user.png', alt='')
                    .portfolio-box-caption
                      .portfolio-box-caption-content
                        .project-category.text-faded
                          | Category
                        .project-name
                          | Project Name
                  .caption
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-user.xanhnhat.marbtm.padright
                        | Nguyễn Minh Tuấn
                      .right.padrightngv
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                        | 2 năm
                      .right.padrightngv
                        h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                        | 40 tuổi
            .col-xs-6.col-sm-3
                .thumbnail.center-block
                  a.portfolio-box(href='#')
                    img.img-responsive(src='img/placeholder_user.png', alt='')
                    .portfolio-box-caption
                      .portfolio-box-caption-content
                        .project-category.text-faded
                          | Category
                        .project-name
                          | Project Name
                  .caption
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-user.xanhnhat.marbtm.padright
                        | Nguyễn Minh Tuấn
                      .right.padrightngv
                    .row
                      .left.padleftngv
                        h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                        | 2 năm
                      .right.padrightngv
                        h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                        | 40 tuổi
    section#contact.contactbg
      .container
        .row
          .col-lg-3.pull-left
            h2.section-heading.chutrang.pull-left ProCleaner
          .col-lg-6.pull-right
            h2.section-heading.chutrang Contact Us
            br
        .row
          .col-lg-3.pull-left
            div.form-inline.pull-left
              div.form-group.padright
                i.fa.fa-phone
              div.form-group
                h5.chutrang 123-456-6789
            div.form-inline.pull-left
              div.form-group.padright
                i.fa.fa-envelope
              div.form-group
                h5.chutrang procleaner@gmail.com.vn
          .col-lg-6.pull-right
            div
              form#contactForm(name='sentMessage', novalidate='')
                .row
                  .col-xs-6
                    div.form-group
                      input#name.form-control(type='text', placeholder='Your Name *', required='', data-validation-required-message='Please enter your name.')
                      p.help-block.text-danger
                  .col-xs-6
                    div.form-group
                      input#phone.form-control(type='tel', placeholder='Your Phone *', required='', data-validation-required-message='Please enter your phone number.')
                      p.help-block.text-danger
                br
                .row
                  .col-xs-12
                    .form-group
                      input#email.form-control(type='email', placeholder='Your Email *', required='', data-validation-required-message='Please enter your email address.')
                      p.help-block.text-danger
                br
                .row
                  .col-xs-12
                    .form-group
                      textarea#message.form-control(placeholder='Your Message *', required='', data-validation-required-message='Please enter a message.')
                      p.help-block.text-danger
                  .clearfix
                .row
                  #success
                  button.btn.btn-danger.btn-xl(type='submit') Send Message
    section#footer.bg-dark
      .container
        .col-lg-3
          .div.form-inline
            .div.form-group.padright
              i.fa.fa-copyright
            .div.form-group
              h5.chutrang Copyright by ProCleaner
        .col-xs-3.pull-right
          div.form-inline.text-center
            div.form-group.padrightico
              a.btn.btn-circle-sm.btn-default(href='#')
                i.fa.fa-facebook
            div.form-group.padrightico
              a.btn.btn-circle-sm.btn-default(href='#')
                i.fa.fa-twitter
            div.form-group.padrightico
              a.btn.btn-circle-sm.btn-default(href='#')
                i.fa.fa-google-plus
            div.form-group.padrightico
              a.btn.btn-circle-sm.btn-default(href='#')
                i.fa.fa-linkedin
#banggia.modal.fade(role='dialog')
  .modal-dialog.modal-lg
    // Modal content
    .modal-content
      .modal-header.bgxanhdam
        button.close(type='button', data-dismiss='modal') ×
        h4.biggerfont.modal-title.chutrang Bảng giá
      .modal-body
        table.table-bordered
          h4 Bảng giá của một giờ làm việc (đơn vị tính: VNĐ)
          thead
            tr
              th Ngày/tháng
              th Ngày/tuần
              th 2 giờ/ngày
              th 3 giờ/ngày
              th 4 giờ/ngày
              th 5 giờ/ngày
              th 6 giờ/ngày
              th 7 giờ/ngày
              th 8 giờ/ngày
          tbody
            tr
              td 4
              td 1
              td 65.000
              td 62.000
              td 59.000
              td 56.000
              td 53.000
              td 50.000
              td 48.000
            tr
              td 8
              td 2
              td 55.000
              td 52.000
              td 50.000
              td 48.000
              td 46.000
              td 42.000
              td 39.000
            tr
              td 12
              td 3
              td 51.000
              td 48.000
              td 45.000
              td 42.000
              td 38.000
              td 35.000
              td 33.000
            tr
              td 16
              td 4
              td 49.000
              td 45.000
              td 42.000
              td 40.000
              td 35.000
              td 33.000
              td 30.000
            tr
              td 20
              td 5
              td 45.000
              td 43.000
              td 40.000
              td 35.000
              td 31.000
              td 29.000
              td 27.000
            tr
              td 24
              td 6
              td 45.000
              td 42.000
              td 35.000
              td 33.000
              td 29.000
              td 27.000
              td 25.000
            tr
              td 28
              td 7
              td 45.000
              td 42.000
              td 34.000
              td 30.000
              td 27.000
              td 25.000
              td 24.000
        br
        table.table-bordered
          h4 Bảng giá theo tháng (đơn vị tính: VNĐ)
          thead
            tr
              th Ngày/tháng
              th Ngày/tuần
              th 2 giờ/ngày
              th 3 giờ/ngày
              th 4 giờ/ngày
              th 5 giờ/ngày
              th 6 giờ/ngày
              th 7 giờ/ngày
              th 8 giờ/ngày
          tbody
            tr
              td 4
              td 1
              td 520.000
              td 744.000
              td 944.000
              td 1.120.000
              td 1.272.000
              td 1.400.000
              td 1.536.000
            tr
              td 8
              td 2
              td 880.000
              td 1.248.000
              td 1.600.000
              td 1.920.000
              td 2.208.000
              td 2.352.000
              td 2.496.000
            tr
              td 12
              td 3
              td 1.224.000
              td 1.728.000
              td 2.160.000
              td 2.520.000
              td 2.736.000
              td 2.940.000
              td 3.168.000
            tr
              td 16
              td 4
              td 1.568.000
              td 2.160.000
              td 2.688.000
              td 3.200.000
              td 3.360.000
              td 3.696.000
              td 3.840.000
            tr
              td 20
              td 5
              td 1.800.000
              td 2.580.000
              td 3.200.000
              td 3.500.000
              td 3.720.000
              td 4.060.000
              td 4.320.000
            tr
              td 24
              td 6
              td 2.160.000
              td 3.024.000
              td 3.360.000
              td 3.960.000
              td 4.176.000
              td 4.536.000
              td 4.800.000
            tr
              td 28
              td 7
              td 2.520.000
              td 3.528.000
              td 3.808.000
              td 4.200.000
              td 4.536.000
              td 4.900.000
              td 5.376.000
        br
        h5.padleft  • Đối với gói Chăm sóc em bé, người già, sản phụ và nuôi bệnh cộng thêm mỗi giờ làm việc 5.000 đồng.
        h5.padleft  • Giúp việc cho người nước ngoài cộng thêm mỗi giờ làm việc 10.000 đồng.
        h5.padleft  • Mức giá trên tính cho một người giúp việc.

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
.div#hoidap.modal.fade(role='dialog')
  div.modal-dialog.modal-lg
    div.modal-content
      div.modal-header.bgxanhdam
        button.close(type='button', data-dismiss='modal') ×
        h4.biggerfont.modal-title.chutrang F.A.Q - Câu hỏi thường gặp
      div#mypanel.modal-body
        div.fancy-collapse-panel
          #accordion.panel-group(role='tablist', aria-multiselectable='true')
            .panel.panel-default
              .panel-heading(role='tab', id='hd1')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau1', aria-expanded='false', aria-controls='cau1')
                    | 1.   Tại sao Quý khách hàng nên chọn người giúp việc thông qua Procleaner?
              #cau1.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd1')
                .panel-body
                  h4 Những lý do sau đây sẽ giúp cho quý khách hàng giải đáp được thắc mắc trên:
                  h4 - Người giúp việc là nhân viên của ProCleaner, chịu sự quản lý và chấp hành nội quy của Công ty nên Quý khách hàng không cần lo lắng về việc quản lý Người giúp việc.
                  h4 - Người giúp việc có lý lịch nhân thân rõ ràng, có giấy chứng nhận sức khỏe của bệnh viện.
                  h4 - Quý khách hàng sẽ luôn có Người giúp việc ổn định trong suốt thời gian hợp đồng.
                  h4 - Quý khách hàng được ProCleaner chịu trách nhiệm vật chất nếu có thất thoát xảy ra do người giúp việc.
                  h4 - ProCleaner xếp hạng nhân viên thông qua đánh giá của khách hàng nên luôn đảm bảo chất lượng Người giúp việc.
            .panel.panel-default
              .panel-heading(role='tab', id='hd2')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau2', aria-expanded='false', aria-controls='cau2')
                    | 2.  Liên hệ với Procleaner như thế nào?
              #cau2.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd2')
                .panel-body
                  h4 Vui lòng gọi 19000000 hoặc gửi email đến contact@procleaner.vn
            .panel.panel-default
              .panel-heading(role='tab', id='hd3')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau3', aria-expanded='false', aria-controls='cau3')
                    | 3.  Ứng dụng ProCleaner đòi các quyền truy cập (permission) để làm gì?
              #cau3.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd3')
                .panel-body
                  h4 Ứng dụng ProCleaner khi cài đặt sẽ sử dụng các quyền truy cập sau đây:
                  h4 -  Vị trí người dùng: Giúp ứng dụng tìm vị trí hiện tại của người dùng để thiết lập địa điểm phục vụ dễ dàng hơn.
                  h4 -  SMS: Giúp ứng dụng tự động điền mã kích hoạt tài khoản mà không cần phải vào ứng dụng tin nhắn.
                  h4 -  Điện thoại: Giúp khách hàng khi click vào số điện thoại thì có thể gọi ngay cho ProCleaner.
                  h4 -  Ảnh/phương tiện/tệp: ProCleaner lưu lại một số hình ảnh ít thay đổi để giúp ứng dụng chạy nhanh hơn.
                  h4 -  Lịch sử ứng dụng và thiết bị: ProCleaner sẽ tự động ghi nhận những trường hợp chạy ứng dụng bị lỗi tạo điều kiện cho nhóm phát triển nâng cao chất lượng ứng dụng.
                  h4 -  Quyền truy cập mạng: ProCleaner là ứng dụng cần kết nối mạng để có thể hoạt động.
                  h4 -  Nhận dạng: ProCleaner sử dụng nhận dạng để gửi thông tin trạng thái Yêu cầu cho người dùng thông qua trung tâm thông báo của điện thoại.
                  h4 -  Các quyền truy cập còn lại ProCleaner dùng để ghi nhận thói quen sử dụng của người dùng nhằm giúp nhóm phát triển liên tục cải tiến ứng dụng để phục vụ người sử dụng tốt hơn.
            .panel.panel-default
              .panel-heading(role='tab', id='hd4')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau4', aria-expanded='false', aria-controls='cau4')
                    | 4.  Tại sao phải đánh giá người giúp việc?
              #cau4.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd4')
                .panel-body
                  h4 .....
            .panel.panel-default
              .panel-heading(role='tab', id='hd5')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau5', aria-expanded='false', aria-controls='cau5')
                    | 5.  Làm thế nào để sử dụng dịch vụ của Procleaner?
              #cau5.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd5')
                .panel-body
                  h4 •  Đặt yêu cầu trực tiếp hoặc bằng ứng dụng ProCleaner trên smartphone hoặc thông qua website ProCleaner.vn.
                  h4 •  Liên hệ với chúng tôi:
                  h5.padleft    Hotline: 190000000000000
                  h5.padleft    Email: sales@procleaner.vn
                  h5.padleft    Đến Trụ sở: ………………………….., Quận 7, Tp.HCM
            .panel.panel-default
              .panel-heading(role='tab', id='hd6')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau6', aria-expanded='false', aria-controls='cau6')
                    | 6.  Hình thức thanh toán như thế nào? Theo từng sự vụ thì sao, dài hạn thì sao? Thời điểm thu như thế nào? Ai thu? Mẫu phiếu thu?
              #cau6.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd6')
                .panel-body
                  h4 Quý khách hàng có thể lựa chọn một trong các phương cách sau:
                  h5.padleft    - Chuyển khoản qua ATM
                  h5.padleft    - Thanh toán trực tiếp tại Trụ sở Công ty
                  h5.padleft    - Nhân viên của Chúng tôi đến thu tận nhà 
            .panel.panel-default
              .panel-heading(role='tab', id='hd7')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau7', aria-expanded='false', aria-controls='cau7')
                    | 7.  Hợp đồng giúp việc sẽ như thế nào? Mẫu hợp đồng – đặt yêu cầu qua ứng dụng (hoặc web) thì có cần hợp đồng không? Tổng quát hơn thì trường hợp nào thì cần có hợp đồng và trường hợp nào thì không. Cách thức ký hợp đồng thế nào? Có tạm ứng không?
              #cau7.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd7')
                .panel-body
                  h4 Công ty chúng tôi thu phí đặt cọc là 50% của tháng hợp đồng đầu tiên. Sự "ràng buộc" này nhằm đảm bảo rằng chúng tôi luôn cố gắng đảm bảo quyền lợi của khách hàng khi thực hiện theo đúng những điều khoản trong hợp đồng. Quý khách hàng sẽ được an tâm và tin tưởng trong quá trình sử dụng dịch vụ của chúng tôi
            .panel.panel-default
              .panel-heading(role='tab', id='hd8')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau8', aria-expanded='false', aria-controls='cau8')
                    | 8.  Nếu muốn chấm dứt hợp đồng phải làm thế nào?
              #cau8.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd8')
                .panel-body
                  h4 Nếu Quý khách hàng muốn chấm dứt hợp đồng trước thời hạn thì cần thông báo trước cho chúng tôi 15 ngày, khi đó Công ty chúng tôi sẽ hoàn trả 50% tiền đặt cọc cho khách hàng.
                  h4 Trường hợp đơn phương chấm dứt hợp đồng trước thời hạn và không thông báo trước thì sẽ không được hoàn tiền cọc và thanh toán số tiền  =  Tổng số giờ làm việc tháng đó  x Đơn giá
            .panel.panel-default
              .panel-heading(role='tab', id='hd9')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau9', aria-expanded='false', aria-controls='cau9')
                    | 9.  Có được đổi người giúp việc không?
              #cau9.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd9')
                .panel-body
                  h4 .......
            .panel.panel-default
              .panel-heading(role='tab', id='hd10')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau10', aria-expanded='false', aria-controls='cau10')
                    | 10. Người giúp việc có thu tiền mặt của khách hàng không?
              #cau10.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd10')
                .panel-body
                  h4 .......
            .panel.panel-default
              .panel-heading(role='tab', id='hd11')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau11', aria-expanded='false', aria-controls='cau11')
                    | 11. Thời gian từ lúc đặt yêu cầu đến lúc có người giúp việc tối thiểu là bao lâu?
              #cau11.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd11')
                .panel-body
                  h4 .......
            .panel.panel-default
              .panel-heading(role='tab', id='hd12')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau12', aria-expanded='false', aria-controls='cau12')
                    | 12. Thời gian phục vụ của người giúp việc bắt đầu và kết thúc khi nào?
              #cau12.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd12')
                .panel-body
                  h4 .......
            .panel.panel-default
              .panel-heading(role='tab', id='hd13')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau13', aria-expanded='false', aria-controls='cau13')
                    | 13. Giá dịch vụ có tăng trong thời điểm Tết hay không?
              #cau13.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd13')
                .panel-body
                  h4 Đối với những ngày thường hay ngày Tết lượng Khách hàng đăng ký sử dụng dịch vụ đang tăng lên rất nhanh nhưng với phương châm phục vụ Khách hàng đặt chất lượng lên hàng đầu, trở thành Khách hàng thường xuyên và gắn bó với Công ty thì ProCleaner vẫn giữ giá dịch vụ như cũ đối với tất cả các dịch vụ. Trừ những Khách hàng có nhu cầu sử dụng trong khoảng thời gian Công ty nghỉ Tết Nguyên Đán bắt đâu từ 30 Tết – hết mùng 4 Tết thì giá dịch vụ sẽ tính 300% so với ngày thường theo quy định Luật lao động của Việt Nam.
            .panel.panel-default
              .panel-heading(role='tab', id='hd14')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau14', aria-expanded='false', aria-controls='cau14')
                    | 14. ProCleaner cung cấp dịch vụ ở những nơi nào?
              #cau14.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd14')
                .panel-body
                  h4 .......
            .panel.panel-default
              .panel-heading(role='tab', id='hd15')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau15', aria-expanded='false', aria-controls='cau15')
                    | 15. Chất lượng người giúp việc của ProCleaner được đảm bảo như thế nào?
              #cau15.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd15')
                .panel-body
                  h4 .......
            .panel.panel-default
              .panel-heading(role='tab', id='hd16')
                h3.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#cau16', aria-expanded='false', aria-controls='cau16')
                    | 16. Mã giới thiệu để làm gì và được lợi ích như thế nào?
              #cau16.panel-collapse.collapse(role='tabpanel', aria-labelledby='hd16')
                .panel-body
                  h4 .......
      div.modal-footer
.div#chinhsach.modal.fade(role='dialog')
  div.modal-dialog
    div.modal-content
      div.modal-header
      div.modal-body
      div.modal-footer

    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='js/jquery.easing.min.js')
    script(src='js/jquery.fittext.js')
    script(src='js/wow.min.js')
    // Custom Theme JavaScript
    script(src='slick/slick.min.js')
    script(src='js/creative.js')
    //angular
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js')
    script(src='angular/core.js')
    
