doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='...')
    meta(name='keywords', content='...')
    meta(name='author', content='...')
    link(href='css/bootstrap.css', rel='stylesheet', media='screen')
    link(href='fullcalendar/fullcalendar.css', rel='stylesheet', media='screen')
    link(href='css/czsale.css', rel='stylesheet', media='screen')
    link(href='css/czsale-responsive.css', rel='stylesheet', media='screen')
    link(href='css/czsale-carousel.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='css/animate.min.css', type='text/css')
    link(rel='stylesheet', type='text/css', href='css/normalize.css')
    link(rel='stylesheet', type='text/css', href='css/component.css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css', type='text/css')
  body
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#')
            img(src='img/logo.gif', alt='')
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='../navbar/') Giới thiệu
            li
              a(href='../navbar-static-top/') Policy
            li
              a(href='../navbar-static-top/') login
        // /.nav-collapse
  
    block search
    block chitiet
    block content
      
  .footer
    .well.well-sm
      .pull-left
        ul.nav.nav-pills
          li
            a(href='addClassified.html')
              span.glyphicon.glyphicon-plus
              |  Add classified
      .pull-right
        ul.nav.nav-pills
          li
            a(href='help.html') Help
          li
            a(href='contact.html') Contact
          li
            a(href='conditions.html') Rules & conditions
      .clearfix  
    .pull-right
      p.text-muted
        small Copyright © 2013-2014, SenseMedia.cz - All Rights Reserved.
    // JS
    script(src='js/jquery-1.10.2.min.js')
    script(src='fullcalendar/lib/moment.min.js')
    script(src='fullcalendar/fullcalendar.js')
    script(src='js/bootstrap.min.js')
    script(src='js/respond.min.js')
    script(src='js/jquery.slides.min.js')
    script(src='js/svgcheckbx.js')
    script(src='js/my_calendar.js')
    // Custom Theme JavaScript
    script.
      $( document ).ready(function() {
        // Drop down menu handler
        $('.dropdown-menu').find('form').click(function (e) {
          e.stopPropagation();
        });
        // Slider
        $("#slides").slidesjs({
          width: 900,
          height: 300,
          navigation: false,
          play: {
            active: false,
            effect: "slide",
            interval: 4000,
            auto: true,
            swap: false,
            pauseOnHover: true,
            restartDelay: 2500
          }
        });
        // Carousel (slider)
        $('#detailCarousel').carousel({
          interval: 4000
        });
        $('[id^=carousel-selector-]').click( function(){
          var id_selector = $(this).attr("id");
          var id = id_selector.substr(id_selector.length -1);
          id = parseInt(id);
          $('#detailCarousel').carousel(id);
          $('[id^=carousel-selector-]').removeClass('selected');
          $(this).addClass('selected');
        });
        $('#detailCarousel').on('slid', function (e) {
          var id = $('.item.active').data('slide-number');
          id = parseInt(id);
          $('[id^=carousel-selector-]').removeClass('selected');
          $('[id^=carousel-selector-'+id+']').addClass('selected');
        });
      });