doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='...')
    meta(name='keywords', content='...')
    meta(name='author', content='...')
    link(href='css/bootstrap.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='https://gitcdn.xyz/repo/angular/bower-material/v0.11.0-rc1/angular-material.css')
    link(href='fullcalendar/fullcalendar.css', rel='stylesheet', media='screen')
    link(href='css/czsale.css', rel='stylesheet', media='screen')
    link(href='css/czsale-responsive.css', rel='stylesheet', media='screen')
    link(href='css/czsale-carousel.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='css/animate.min.css', type='text/css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='css/range-picker.min.css', type='text/css')
  body
    .se-pre-con
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#')
            img(src='img/logo.gif', alt='')
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='../navbar/') Giới thiệu
            li
              a(href='../navbar-static-top/') Policy
            li
              a(href='../navbar-static-top/') login
        // /.nav-collapse
  
    block search
    block chitiet
    block content
      
  .footer
    .well.well-sm
      .pull-left
        ul.nav.nav-pills
          li
            a(href='addClassified.html')
              span.glyphicon.glyphicon-plus
              |  Add classified
      .pull-right
        ul.nav.nav-pills
          li
            a(href='help.html') Help
          li
            a(href='contact.html') Contact
          li
            a(href='conditions.html') Rules & conditions
      .clearfix  
    .pull-right
      p.text-muted
        small Copyright © 2013-2014, SenseMedia.cz - All Rights Reserved.
    // JS
    script(src='js/jquery-2.1.4.min.js')
    //preload
    script(src='js/preload.js')
    script(src='fullcalendar/lib/moment.min.js')
    script(src='fullcalendar/fullcalendar.js')
    script(src='js/bootstrap.min.js')
    script(src='js/respond.min.js')
    script(src='js/my_calendar.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js')
    script(src='js/angular-slider.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js')
    script(src='https://gitcdn.xyz/repo/angular/bower-material/v0.11.0-rc1/angular-material.js')
    script(src='js/ui-bootstrap-tpls-0.13.4.min.js')
    
    script(src='js/range-picker.min.js')
    script(src='angular/core.js')

    // Custom Theme JavaScript