doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='...')
    meta(name='keywords', content='...')
    meta(name='author', content='...')
    link(href='css/bootstrap.css', rel='stylesheet', media='screen')
    link(href='css/czsale.css', rel='stylesheet', media='screen')
    link(href='css/czsale-responsive.css', rel='stylesheet', media='screen')
    link(href='css/czsale-carousel.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='css/animate.min.css', type='text/css')
    link(rel='stylesheet', type='text/css', href='css/normalize.css')
    link(rel='stylesheet', type='text/css', href='css/demo.css')
    link(rel='stylesheet', type='text/css', href='css/component.css')
  body
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Project name
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='../navbar/') About
            li
              a(href='../navbar-static-top/') Policy
            li
              a(href='../navbar-static-top/') login
        // /.nav-collapse
  .container.wrapper
    .row.content
      .col-lg-3.content-left
        h4 Khung giờ

        h4 Chuyên môn
        form.ac-custom.ac-checkbox.ac-checkmark(autocomplete='off')
          ul
            li
              input#cb6(name='cb6', type='checkbox')
              label(for='cb6') Tất cả
            li
              input#cb7(name='cb7', type='checkbox')
              label(for='cb7') Coi trẻ
            li
              input#cb8(name='cb8', type='checkbox')
              label(for='cb8') Trông người già
            li
              input#cb9(name='cb9', type='checkbox')
              label(for='cb9') Nuôi bệnh
            li
              input#cb10(name='cb10', type='checkbox')
              label(for='cb10') Đưa đón bé đi học
            li
              input#cb11(name='cb11', type='checkbox')
              label(for='cb11') Nấu ăn
            li
              input#cb12(name='cb12', type='checkbox')
              label(for='cb12') Dọn vệ sinh
        h4 Quận
        form.ac-custom.ac-checkbox.ac-checkmark(autocomplete='off')
          ul
            li
              input#cb13(name='cb13', type='checkbox')
              label(for='cb13') Quận 1
            li
              input#cb14(name='cb14', type='checkbox')
              label(for='cb14') Quận 2
            li
              input#cb15(name='cb15', type='checkbox')
              label(for='cb15') Quận 3
            li
              input#cb16(name='cb16', type='checkbox')
              label(for='cb16') Quận 4
            li
              input#cb17(name='cb17', type='checkbox')
              label(for='cb17') Quận 5
            li
              input#cb18(name='cb18', type='checkbox')
              label(for='cb18') Quận 6
            li
              input#cb19(name='cb19', type='checkbox')
              label(for='cb19') Quận 7
      block search
      block chitiet
    block content
      
  .footer
    .well.well-sm
      .pull-left
        ul.nav.nav-pills
          li
            a(href='addClassified.html')
              span.glyphicon.glyphicon-plus
              |  Add classified
      .pull-right
        ul.nav.nav-pills
          li
            a(href='help.html') Help
          li
            a(href='contact.html') Contact
          li
            a(href='conditions.html') Rules & conditions
      .clearfix  
    .pull-right
      p.text-muted
        small Copyright © 2013-2014, SenseMedia.cz - All Rights Reserved.
    // JS
    script(src='js/jquery-1.10.2.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/respond.min.js')
    script(src='js/jquery.slides.min.js')
    script(src='js/svgcheckbx.js')

    // Custom Theme JavaScript
    script(src='js/creative.js')
    script.
      $( document ).ready(function() {
        // Drop down menu handler
        $('.dropdown-menu').find('form').click(function (e) {
          e.stopPropagation();
        });
        // Slider
        $("#slides").slidesjs({
          width: 900,
          height: 300,
          navigation: false,
          play: {
            active: false,
            effect: "slide",
            interval: 4000,
            auto: true,
            swap: false,
            pauseOnHover: true,
            restartDelay: 2500
          }
        });
        // Carousel (slider)
        $('#detailCarousel').carousel({
          interval: 4000
        });
        $('[id^=carousel-selector-]').click( function(){
          var id_selector = $(this).attr("id");
          var id = id_selector.substr(id_selector.length -1);
          id = parseInt(id);
          $('#detailCarousel').carousel(id);
          $('[id^=carousel-selector-]').removeClass('selected');
          $(this).addClass('selected');
        });
        $('#detailCarousel').on('slid', function (e) {
          var id = $('.item.active').data('slide-number');
          id = parseInt(id);
          $('[id^=carousel-selector-]').removeClass('selected');
          $('[id^=carousel-selector-'+id+']').addClass('selected');
        });
      });