doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='...')
    meta(name='keywords', content='...')
    meta(name='author', content='...')
    link(href='css/bootstrap.css', rel='stylesheet', media='screen')
    link(href='css/czsale.css', rel='stylesheet', media='screen')
    link(href='css/czsale-responsive.css', rel='stylesheet', media='screen')
    link(href='css/czsale-carousel.css', rel='stylesheet', media='screen')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Project name
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Dropdown 
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li.dropdown-header Nav header
                li
                  a(href='#') Separated link
                li
                  a(href='#') One more separated link
          ul.nav.navbar-nav.navbar-right
            li
              a(href='../navbar/') Default
            li
              a(href='../navbar-static-top/') Static top
            li.active
              a(href='./')
                | Fixed top 
                span.sr-only (current)
        // /.nav-collapse
  .container.wrapper
    .row.content
      .col-lg-3.content-left
        h4 Search
        .well.well-sm
          form
            fieldset
              input.form-control(type='text' value='#{locals.thanhpho}' placeholder='Chọn thành phố')
              input.form-control(type='text' value='#{locals.ngay}' placeholder='Chọn ngày')
              input.form-control(type='text' value='#{locals.tgbd}' placeholder='Thời gian bắt đầu')
              input.form-control(type='text' value='#{locals.tgkt}' placeholder='Thời gian kết thúc')
              small
                a.btn-advanced-search(href='#') Advanced
              input.btn.btn-danger.btn-sm.btn-search(type='submit', value='Search')
      block search
      block chitiet
    block content
      
  .footer
    .well.well-sm
      .pull-left
        ul.nav.nav-pills
          li
            a(href='addClassified.html')
              span.glyphicon.glyphicon-plus
              |  Add classified
      .pull-right
        ul.nav.nav-pills
          li
            a(href='help.html') Help
          li
            a(href='contact.html') Contact
          li
            a(href='conditions.html') Rules & conditions
      .clearfix  
    .pull-right
      p.text-muted
        small Copyright © 2013-2014, SenseMedia.cz - All Rights Reserved.
    // JS
    script(src='js/jquery-1.10.2.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/respond.min.js')
    script(src='js/jquery.slides.min.js')
    // Custom Theme JavaScript
    script(src='js/creative.js')
    script.
      $( document ).ready(function() {
        // Drop down menu handler
        $('.dropdown-menu').find('form').click(function (e) {
          e.stopPropagation();
        });
        // Slider
        $("#slides").slidesjs({
          width: 900,
          height: 300,
          navigation: false,
          play: {
            active: false,
            effect: "slide",
            interval: 4000,
            auto: true,
            swap: false,
            pauseOnHover: true,
            restartDelay: 2500
          }
        });
        // Carousel (slider)
        $('#detailCarousel').carousel({
          interval: 4000
        });
        $('[id^=carousel-selector-]').click( function(){
          var id_selector = $(this).attr("id");
          var id = id_selector.substr(id_selector.length -1);
          id = parseInt(id);
          $('#detailCarousel').carousel(id);
          $('[id^=carousel-selector-]').removeClass('selected');
          $(this).addClass('selected');
        });
        $('#detailCarousel').on('slid', function (e) {
          var id = $('.item.active').data('slide-number');
          id = parseInt(id);
          $('[id^=carousel-selector-]').removeClass('selected');
          $('[id^=carousel-selector-'+id+']').addClass('selected');
        });
      });