extends layout
block chitiet
  .container.wrapper
    .row.content
      .col-lg-3.content-left
        .row
      .col-lg-9.content-right
        h4 Thông tin chi tiết
        .row
          .col-md-4
            a(href='#')
              img.img-responsive(src='img/placeholder_user.png', alt='')
          .col-md-8
            table.table.table-condensed.table-hover
              thead
                th(colspan='2') Thông tin:
              tbody(style='font-size: 12px;')
                tr
                  td(width="20%")
                    div.form-inline
                      div.form-group.padright
                        i.fa.fa-2x.fa-user.xanhnhat
                      div.form-group
                        h5.xanhdam Họ tên
                  td(width="25%")
                    div.form-inline
                      div.form-group.padright
                      div.form-group
                        h5.xanhdam Mr. A
                  td(width="25%")
                    div.form-inline
                      div.form-group.padright
                        i.fa.fa-2x.fa-venus-mars.xanhnhat
                      div.form-group
                        h5.xanhdam Giới tính
                  td(width="30%")
                    div.form-inline
                      div.form-group.padright
                      div.form-group
                        h5.xanhdam Nam
                tr
                  td 
                    div.form-inline
                      div.form-group.padright
                        i.fa.fa-2x.fa-clock-o.xanhnhat
                      div.form-group
                        h5.xanhdam Tuổi
                  td 
                    div.form-inline
                      div.form-group.padright
                      div.form-group
                        h5.xanhdam 30
                  td 
                    div.form-inline
                      div.form-group.padright
                        i.fa.fa-2x.fa-check-circle-o.xanhnhat
                      div.form-group
                        h5.xanhdam Kinh nghiệm
                  td 
                    div.form-inline
                      div.form-group.padright
                      div.form-group
                        h5.xanhdam 5 năm
                        
            hr
            div.form-inline
              div.form-group.padright
                i.fa.fa-2x.fa-tags.xanhnhat
              div.form-group.padright
                h6.xanhdam Sở trường
              div.form-group
                input.btn.btn-danger.btn-xs.tagmargin(type='button' value='Coi trẻ')
                input.btn.btn-danger.btn-xs.tagmargin(type='button' value='Trông người già')
                input.btn.btn-danger.btn-xs.tagmargin(type='button' value='Nuôi bệnh')
                input.btn.btn-danger.btn-xs.tagmargin(type='button' value='Đưa đón bé đi học')
                input.btn.btn-danger.btn-xs.tagmargin(type='button' value='Nấu ăn')
                input.btn.btn-danger.btn-xs.tagmargin(type='button' value='Dọn vệ sinh')
                input.btn.btn-danger.btn-xs.tagmargin(type='button' value='Coi trẻ')
                input.btn.btn-danger.btn-xs.tagmargin(type='button' value='Trông người già')
                input.btn.btn-danger.btn-xs.tagmargin(type='button' value='Nuôi bệnh')
                input.btn.btn-danger.btn-xs.tagmargin(type='button' value='Đưa đón bé đi học')
                input.btn.btn-danger.btn-xs.tagmargin(type='button' value='Nấu ăn')
                input.btn.btn-danger.btn-xs.tagmargin(type='button' value='Dọn vệ sinh')
            hr

            button.btn.btn-danger.pull-right(type='button')
              i.fa.fa-2x.fa-suitcase
              |  Thuê người này
        .row
          .col-md-12
            .card
              ul.nav.nav-tabs(role='tablist')
                li.active(role='presentation')
                  a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Home
                li(role='presentation')
                  a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Profile
                li(role='presentation')
                  a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Messages
                li(role='presentation')
                  a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Settings
              // Tab panes
              .tab-content
                #home.tab-pane.active(role='tabpanel')
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                #profile.tab-pane(role='tabpanel')
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                #messages.tab-pane(role='tabpanel')
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                #settings.tab-pane(role='tabpanel')
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage..


        hr
    // /Content