extends layout
block chitiet

  base(href='/')
  .container.wrapper(ng-app='SearchModule')
    .row.content(ng-controller='chitietController')
      div.loading(ng-show='loading')
      input#cmnd(type='hidden', name='', value=cmnd)
      
      .col-md-9.col-md-push-3.content-right(ng-repeat='ngv in ngvs')
        h4 Thông tin chi tiết
        .row
          .col-md-4
            a(href='#')
              img.img-responsive(src='{{"img/ngv/" + ngv.hinhanh}}', alt='')
            .rating
              i.fa.fa-2x.fa-star.xanhnhat
              i.fa.fa-2x.fa-star.xanhnhat
              i.fa.fa-2x.fa-star.xanhnhat
              i.fa.fa-2x.fa-star-o.xanhnhat
              i.fa.fa-2x.fa-star-o.xanhnhat
          .col-md-8
            table.table.table-condensed.table-hover
              thead
                th(colspan='1') Thông tin:
              tbody(style='font-size: 15px;')
                tr
                  td(width="50%")
                    div.form-inline
                      h3.i.fa.fa-user.padright.xanhnhat 
                      | {{ngv.hoten}}
                  td(width="50%")
                    div.form-inline
                      h3.i.fa.fa-venus-mars.padright.xanhnhat 
                      | Nam
                tr
                  td 
                    div.form-inline
                      h3.i.fa.fa-birthday-cake.padright.xanhnhat 
                      | {{tinh_tuoi_ngv(ngv.ngaysinh)}}
                  td 
                    div.form-inline
                      h3.i.fa.fa-clock-o.padright.xanhnhat 
                      | {{ngv.sonamkinhnghiem}} năm kinh nghiệm
                        
            hr
            div.form-inline(style='font-size: 15px;')
              h3.i.fa.fa-tags.padright.xanhnhat 
              | Sở trường
              div.form-group
                input.btn.btn-danger.btn-xs.tagmargin(ng-repeat='st in ngv.sotruong' type='button' value='{{st}}')
            hr

            button.btn.btn-danger.pull-right(type='button')
              i.fa.fa-2x.fa-suitcase
              |  Thuê người này
        .row
          .col-md-12
            md-tabs(md-dynamic-height='', md-border-bottom='')
              md-tab(label='Mô tả kinh nghiệm')
                md-content.md-padding
                  h1.md-display-2.center Mô tả kinh nghiệm
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.
              md-tab(label='Thông tin chi tiết')
                md-content.md-padding
                  h1.md-display-2.center Thông tin chi tiết 
                  p
                    | - Cân nặng : xx kg.
                  p
                    | - Chiều cao : xx m.
                  p
                    | - Dân tộc : Kinh.
                  p
                    | - Trình độ học vấn : Đại học.
                  p
                    | - Tình trạng hôn nhân : Đã có gia đình.
                  p
                    | - Con cái : 3 người con.
                  p.padleft
                    | • 3 tuổi
                  p.padleft
                    | • 5 tuổi
                  p.padleft
                    | • 7 tuổi
              md-tab(label='Giấy khám sức khỏe')
                md-content.md-padding
                  h1.md-display-2.center Giấy khám sức khỏe
                    slick.slicktest(settings='slickconfig', ng-if='numberLoaded')
                      div(ng-repeat='gksk in ngv.giaykhamsuckhoe')
                        img.center(src='{{"img/ngv/" + gksk}}', alt='')
        hr
      .col-md-3.col-md-pull-9.content-left
        h4 Nhân viên tương đồng
        .row
          .thumbnail.sm-img-left
            a.center.portfolio-box(href='#')
              img.img-responsive(src='img/ngv/111222333/avatar.jpg', alt='')
            .caption.center
              .row
                .left.padleft
                  h5.i.fa.fa-user.xanhnhat.marbtm.padright
                  | Nguyễn Minh Tuấn
                .right.padrightngv
              .row
                .left.padleft
                  h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                  | 2 năm kinh nghiệm
              .row
                .left.padleft
                  h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                  | 40 tuổi
        .row
          .thumbnail.sm-img-left
            a.center.portfolio-box(href='#')
              img.img-responsive(src='img/ngv/111222333/avatar.jpg', alt='')
            .caption.center
              .row
                .left.padleft
                  h5.i.fa.fa-user.xanhnhat.marbtm.padright
                  | Nguyễn Minh Tuấn
                .right.padrightngv
              .row
                .left.padleft
                  h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                  | 2 năm kinh nghiệm
              .row
                .left.padleft
                  h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                  | 40 tuổi
    // /Content