extends layout

block search
  .col-lg-9.content-right
    h4 Recommended
    .row.selected-classifieds
      .col-md-5
        a(href='#')
          img.img-responsive(src='http://placehold.it/700x300', alt='')
      .col-md-7
        h3 Project One
        h4 Subheading
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
        a.btn.btn-danger.pull-right(href='/ngv_chitiet/1')
          | View Project 
          span.glyphicon.glyphicon-chevron-right
    .row.selected-classifieds
      .col-md-5
        a(href='#')
          img.img-responsive(src='http://placehold.it/700x300', alt='')
      .col-md-7
        h3 Project One
        h4 Subheading
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
        a.btn.btn-danger.pull-right(href='/ngv_chitiet/2')
          | View Project 
          span.glyphicon.glyphicon-chevron-right
    .row.selected-classifieds
      .col-md-5
        a(href='#')
          img.img-responsive(src='http://placehold.it/700x300', alt='')
      .col-md-7
        h3 Project One
        h4 Subheading
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
        a.btn.btn-danger.pull-right(href='/ngv_chitiet/3')
          | View Project 
          span.glyphicon.glyphicon-chevron-right
// /Content