extends layout

block search
  base(href='/')
  .container.wrapper(ng-app='SearchModule' ng-controller='timeController')
    .row.content(ng-show='isSearch')
      .col-lg-3.content-left
        md-toolbar.md-whiteframe-2dp
          .md-toolbar-tools
            h4.chutrang 
              i.fa.fa-search
              |   Tìm kiếm
        md-content.md-whiteframe-2dp(flex='', layout-padding='')
          div.form-inline.xanhnhat
            md-subheader
              i.fa.fa-calendar.padright.xanhnhat 
              | Ngày
            div
              input#ngay.marleft.form-control.timewidth.dpindex(type='text', name='ngay', placeholder='Chọn ngày', readonly='readonly', autocomplete='off', ng-model='data.ngay' ng-change='filter_ngaygio($event)')
          div.form-inline.xanhnhat
            md-subheader
              i.fa.fa-clock-o.padright.xanhnhat 
              | Giờ
          .form-inline
            .form-group
              select.timewidthhalf.form-control.marleft.sb.fixWTime.selectpicker(ng-model="data.giobd1" ng-options="obj.id as obj.name for obj in data.availableOptions" ng-change='filter_ngaygio($event)')
                option(value='' disabled) Từ giờ
              input#gbdnh.form-control.sb.typeahead(type='hidden', name='giobd1', value='{{data.giobd1}}')

              select.timewidthhalf.form-control.sb.fixWTime.selectpicker(ng-model="data.giokt1" ng-options="obj.id as obj.name for obj in data.availableOptions" ng-change='filter_ngaygio($event)')
                option(value='' disabled) Đến giờ
              input#gktnh.form-control.sb.typeahead(type='hidden', name='giokt1', value='{{data.giokt1}}')
          // số năm kinh nghiệm ---------------------------------------------------
          div.form-inline
            div.xanhnhat
              md-subheader
                i.fa.fa-tags.padright.xanhnhat 
                | Kinh Nghiệm
            md-radio-group(ng-model='data.sonamkn')
              div(ng-repeat='kn in kinhnghiems')
                md-radio-button(value='{{kn.id}}')
                  {{kn.ten}}
          // dịch vụ ---------------------------------------------------
          div.form-inline
            div.xanhnhat
              md-subheader
                i.fa.fa-tags.padright.xanhnhat 
                | Dịch vụ
            div(ng-repeat='tieuchi in tieuchis')
              md-checkbox.md-primary.md-align-top-left(ng-model='tieuchi.data' ng-click='get_filter_dichvu(tieuchi.ten, tieuchi.data)')
                | {{tieuchi.ten}}
          // Quận ---------------------------------------------------
          div.form-inline
            div.xanhnhat
              md-subheader
                i.fa.fa-map-marker.padright.xanhnhat 
                | Quận
            md-radio-group(ng-model='data.quan')
              div(ng-repeat='quan in quans')
                md-radio-button(value='{{quan.ten}}')
                  {{quan.ten}}
      .col-lg-9.content-right
        h3.md-headline 
          i.fa.fa-list-alt.xanhnhat
          |   Danh sách người giúp việc   
        div(layout="row" layout-align="center center" ng-show='loading')
          i.fa.fa-4x.fa-cog.fa-spin.xanhnhat
        div.removedot
          ul
            li(ng-repeat='ngv in ngvs' ng-show='filtering(ngv.sotruong, ngv.sonamkinhnghiem, ngv.diachi.quan)')
              md-card
                md-card-content
                  .row.selected-classifieds  
                    .col-md-12
                      h3.ngv_name {{ngv.hoten}}
                  .row.selected-classifieds
                    .col-md-3
                      a(href='#' ng-click='chon_ngv(ngv.cmnd)')
                        img.img-responsive(src='{{"img/ngv/" + ngv.hinhanh}}', alt='')
                      .rating
                        i.fa.fa-2x.fa-star.xanhnhat
                        i.fa.fa-2x.fa-star.xanhnhat
                        i.fa.fa-2x.fa-star.xanhnhat
                        i.fa.fa-2x.fa-star-o.xanhnhat
                        i.fa.fa-2x.fa-star-o.xanhnhat
                    .col-md-9
                      .rightbody
                        .row
                          .itembody.left
                            h4.i.fa.fa-venus-mars.padright.xanhnhat 
                            | Nam
                          .itembody.right 
                            h4.i.fa.fa-birthday-cake.padright.xanhnhat
                            | {{tinh_tuoi_ngv(ngv.ngaysinh)}}
                        .row
                          .itembody.left 
                            h4.i.fa.fa-clock-o.padright.xanhnhat
                            | {{ngv.sonamkinhnghiem + ' năm kinh nghiệm'}}
                          .itembody.right 
                            h4.i.fa.fa-map-marker.padright.xanhnhat
                            | {{ngv.diachi.quan}}
                        div.form-group
                          h4.i.fa.fa-tags.padright.xanhnhat
                          | Sở trường
                          br
                          input.btn.btn-danger.btn-xs.tagmargin(ng-repeat='st in ngv.sotruong' type='button' value='{{st}}')
                      .rightfooter
                        button.btn.btn-danger.pull-right(type='button' ng-click='show_detail(ngv.cmnd)')
                          i.fa.fa-exclamation-circle
                          |  Thông tin chi tiết
    .row.content
      div(layout="row" layout-align="center center" ng-show='loading')
          i.fa.fa-4x.fa-cog.fa-spin.xanhnhat
      input#cmnd(type='hidden', name='', value=cmnd)
      div(ng-show='isDetail')
        .col-md-9.col-md-push-3.content-right(ng-repeat='ngv in ngvct')
          h4 Thông tin chi tiết
          .row
            .col-md-4
              a(href='#')
                img.img-responsive(src='{{"img/ngv/" + ngv.hinhanh}}', alt='')
              .rating
                i.fa.fa-2x.fa-star.xanhnhat
                i.fa.fa-2x.fa-star.xanhnhat
                i.fa.fa-2x.fa-star.xanhnhat
                i.fa.fa-2x.fa-star-o.xanhnhat
                i.fa.fa-2x.fa-star-o.xanhnhat
            .col-md-8
              table.table.table-condensed.table-hover
                thead
                  th(colspan='1') Thông tin:
                tbody(style='font-size: 15px;')
                  tr
                    td(width="50%")
                      div.form-inline
                        h3.i.fa.fa-user.padright.xanhnhat 
                        | {{ngv.hoten}}
                    td(width="50%")
                      div.form-inline
                        h3.i.fa.fa-venus-mars.padright.xanhnhat 
                        | Nam
                  tr
                    td 
                      div.form-inline
                        h3.i.fa.fa-birthday-cake.padright.xanhnhat 
                        | {{tinh_tuoi_ngv(ngv.ngaysinh)}}
                    td 
                      div.form-inline
                        h3.i.fa.fa-clock-o.padright.xanhnhat 
                        | {{ngv.sonamkinhnghiem}} năm kinh nghiệm
                          
              hr
              div.form-inline(style='font-size: 15px;')
                h3.i.fa.fa-tags.padright.xanhnhat 
                | Sở trường  
                div.form-group
                  input.btn.btn-danger.btn-xs.tagmargin(ng-repeat='st in ngv.sotruong' type='button' value='{{st}}')
              hr

              button.btn.btn-danger.pull-right(type='button' ng-click='chon_ngv_detail()')
                i.fa.fa-2x.fa-suitcase
                |  Thuê người này
          .row
            .col-md-12
              md-tabs(md-dynamic-height='', md-border-bottom='')
                md-tab
                  md-tab-label
                    i.fa.fa-history
                    |    Mô tả kinh nghiệm
                  md-tab-body
                    md-content.md-padding
                      h1.md-display-2.center Mô tả kinh nghiệm
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.
                md-tab
                  md-tab-label
                    i.fa.fa-exclamation-circle
                    |    Thông tin chi tiết
                  md-tab-body
                    md-content.md-padding
                      h1.md-display-2.center Thông tin chi tiết 
                      p
                        | - Cân nặng : xx kg.
                      p
                        | - Chiều cao : xx m.
                      p
                        | - Dân tộc : Kinh.
                      p
                        | - Trình độ học vấn : Đại học.
                      p
                        | - Tình trạng hôn nhân : Đã có gia đình.
                      p
                        | - Con cái : 3 người con.
                      p.padleft
                        | • 3 tuổi
                      p.padleft
                        | • 5 tuổi
                      p.padleft
                        | • 7 tuổi
                md-tab
                  md-tab-label
                    i.fa.fa-stethoscope
                    |    Giấy khám sức khỏe
                  md-tab-body
                    md-content.md-padding
                      h1.md-display-2.center Giấy khám sức khỏe
                        slick.slicktest(settings='slickconfig', ng-if='numberLoaded')
                          div(ng-repeat='gksk in ngv.giaykhamsuckhoe')
                            img.center(src='{{"img/ngv/" + gksk}}', alt='')
          hr
        .col-md-3.col-md-pull-9.content-left
          h4 Nhân viên tương đồng
          .row
            .thumbnail.sm-img-left
              a.center.portfolio-box(href='#')
                img.img-responsive(src='img/ngv/111222333/avatar.jpg', alt='')
              .caption.center
                .row
                  .left.padleft
                    h5.i.fa.fa-user.xanhnhat.marbtm.padright
                    | Nguyễn Minh Tuấn
                  .right.padrightngv
                .row
                  .left.padleft
                    h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                    | 2 năm kinh nghiệm
                .row
                  .left.padleft
                    h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                    | 40 tuổi
          .row
            .thumbnail.sm-img-left
              a.center.portfolio-box(href='#')
                img.img-responsive(src='img/ngv/111222333/avatar.jpg', alt='')
              .caption.center
                .row
                  .left.padleft
                    h5.i.fa.fa-user.xanhnhat.marbtm.padright
                    | Nguyễn Minh Tuấn
                  .right.padrightngv
                .row
                  .left.padleft
                    h5.i.fa.fa-clock-o.xanhnhat.marbtm.padright
                    | 2 năm kinh nghiệm
                .row
                  .left.padleft
                    h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                    | 40 tuổi