extends layout

block search
  .col-lg-9.content-right
    h4 Recommended
    .row.selected-classifieds
      .col-md-3
        a(href='#')
          img.img-responsive(src='img/placeholder_user.png', alt='')
      .col-md-9
        h3 Mr.A
        h4 Subheading
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
        a.btn.btn-danger.pull-right(href='/ngv_chitiet/1')
          | View Project 
          span.glyphicon.glyphicon-chevron-right
    hr
    .row.selected-classifieds
      .col-md-3
        a(href='#')
          img.img-responsive(src='img/placeholder_user.png', alt='')
      .col-md-9
        h3 Mr.A
        h4 Subheading
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
        a.btn.btn-danger.pull-right(href='/ngv_chitiet/1')
          | View Project 
          span.glyphicon.glyphicon-chevron-right
    hr
    .row.selected-classifieds
      .col-md-3
        a(href='#')
          img.img-responsive(src='img/placeholder_user.png', alt='')
      .col-md-9
        h3 Mr.A
        h4 Subheading
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
        a.btn.btn-danger.pull-right(href='/ngv_chitiet/1')
          | View Project 
          span.glyphicon.glyphicon-chevron-right
    hr
    .row.selected-classifieds
      .col-md-3
        a(href='#')
          img.img-responsive(src='img/placeholder_user.png', alt='')
      .col-md-9
        h3 Mr.A
        h4 Subheading
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
        a.btn.btn-danger.pull-right(href='/ngv_chitiet/1')
          | View Project 
          span.glyphicon.glyphicon-chevron-right
    hr
    .row.selected-classifieds
      .col-md-3
        a(href='#')
          img.img-responsive(src='img/placeholder_user.png', alt='')
      .col-md-9
        h3 Mr.A
        h4 Subheading
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
        a.btn.btn-danger.pull-right(href='/ngv_chitiet/1')
          | View Project 
          span.glyphicon.glyphicon-chevron-right
    hr
    .row.selected-classifieds
      .col-md-3
        a(href='#')
          img.img-responsive(src='img/placeholder_user.png', alt='')
      .col-md-9
        h3 Mr.A
        h4 Subheading
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
        a.btn.btn-danger.pull-right(href='/ngv_chitiet/1')
          | View Project 
          span.glyphicon.glyphicon-chevron-right
    hr
    .row.selected-classifieds
      .col-md-3
        a(href='#')
          img.img-responsive(src='img/placeholder_user.png', alt='')
      .col-md-9
        h3 Mr.A
        h4 Subheading
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
        a.btn.btn-danger.pull-right(href='/ngv_chitiet/1')
          | View Project 
          span.glyphicon.glyphicon-chevron-right
    hr
    .row.selected-classifieds
      .col-md-3
        a(href='#')
          img.img-responsive(src='img/placeholder_user.png', alt='')
      .col-md-9
        h3 Mr.A
        h4 Subheading
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
        a.btn.btn-danger.pull-right(href='/ngv_chitiet/1')
          | View Project 
          span.glyphicon.glyphicon-chevron-right
    hr
// /Content