extends layout

block search
  .container.wrapper(ng-app='SearchModule')
    .row.content
      .col-lg-3.content-left
        h4 Tìm kiếm
        div(ng-controller='dateController')
          div.form-inline
            div.form-group.padright
              span.glyphicon.glyphicon-calendar.xanhnhat(aria-hidden="true")
            div.form-group
              h4.xanhnhat Ngày
            div
              p.input-group
              input.form-control(type='text', datepicker-popup='{{format}}', ng-model='dt', is-open='status.opened', min-date='minDate', max-date='maxDate', datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close', ng-click='open($event)')
        div(ng-controller='timeController')
          div.form-inline
            div.form-group.padright
              span.glyphicon.glyphicon-time.xanhnhat(aria-hidden="true")
            div.form-group
              h4.xanhnhat Khung giờ
          div.col-md-12
            div(rg-range-picker='dynamicPopover.myDatetimeRange', labels='dynamicPopover.myDatetimeLabels')
        div.form-inline
          div.form-group.padright
            span.glyphicon.glyphicon-tags.xanhnhat(aria-hidden="true")
          div.form-group
            h4.xanhnhat Chuyên môn
        div(ng-controller='searchController')
          div(ng-repeat='tieuchi in tieuchis')
            md-checkbox.md-primary.md-align-top-left(ng-model='tieuchi.id', aria-label='kh.hoten', ng-true-value="'yup'", ng-false-value="'nope'")
              | {{tieuchi.ten}}
          div.form-inline
            div.form-group.padright
              span.glyphicon.glyphicon-map-marker.xanhnhat(aria-hidden="true")
            div.form-group
              h4.xanhnhat Quận
            md-radio-group(ng-model="data.group1")
              div(ng-repeat='quan in quans')
                md-radio-button(value='{{quan.ten}}')
                  {{quan.ten}}
      .col-lg-9.content-right(ng-controller='searchController')
        h4 Recommended
        div(ng-repeat='ngv in ngvs')
          .row.selected-classifieds
            .col-md-3
              a(href='#')
                img.img-responsive(src='{{"img/ngv/"+ngv.hinhanh}}', alt='')
            .col-md-9
              h3 {{ngv.hoten}}
              h4 Subheading
              p(ng-repeat='st in ngv.sotruong') {{st}}
              a.btn.btn-danger.pull-right(href='/ngv_chitiet/1')
                | View Project 
                span.glyphicon.glyphicon-chevron-right
          hr
    // /Content